<h1>Contact#new</h1>
<p>Find me in app/views/contact/new.html.erb</p>
 {:action =&gt; "create"}, :html =&gt; {:method =&gt; :post} do |f| %&gt;
   
   <p></p>
   <p></p>
   <p></p>
   <p> "3x3" %&gt;</p>
   <p></p>