 <section id="content">
  <div class="zerogrid block">  
    <div class="row block04">
      <div class="col16">
        <section>
          <p>Home >> Blog >> Write a New Post</p>
        </section>
      </div>
    </div>
    
    <div class="row block05">
      <div id="main-content" class="col-2-3">

        
    <%= render 'form' %>

<%= link_to 'Back', contacts_path %>

      </div>
    
    </div>
  </div>
</section>