<footer>
  <div class="wrapfooter">
  <p>Copyright © 2010 - 2013 <a href="http://www.anabtatec.com" target="_blank">Mobile - Ruby on Rails - HTML5 - CSS3 - PHP - iOS - JqueryMobile - Android .- Front &amp; Back End Development </a> by AnabtaTec.com</p>
  </div>
</footer>