<footer>
  <div class="wrapfooter">
  <p>Copyright © 2010 - 2014 <a href="http://mobile.anabtatec.com" target="_blank">Mobile</a>  - <a href="http://mobi.anabtatec.com" target="_blank">Ruby on Rails</a>  - <a href="http://html.anabtatec.com" target="_blank">HTML5</a>  - <a href="http://anabtatec.com" target="_blank">CSS3</a>  - <a href="http://php.anabtatec.com" target="_blank">PHP</a>  - <a href="http://anabtatec.com" target="_blank">iOS</a>  - <a href="http://www.anabtatec.com" target="_blank">JqueryMobile</a>  - <a href="http://android.anabtatec.com" target="_blank">Android</a>  .- <a href="http://www.anabtatec.com" target="_blank">Front &amp; Back End Development </a> <a href="http://www.linkedin.com/profile/view?id=242325376&trk" target="_blank"> by Riyad Faek Anabtawi</a></p>
  </div>
</footer>