
<header> 
  <div id="logo"><a href=""><img src="/assets/logo.png"/></a></div>
  
  <nav>
    <ul>
      <li><a href="../">Home</a></li>
      <li><a href="blogs/">Blog</a></li>
      <li><a href="gallery/">Gallery</a></li>
      <li><a href="about/">About</a></li>
      <li><a href="contact/">Contact</a></li>
    </ul>
  </nav>
</header>

<div class="social">
    <div class="shareicons">
      <ul>
        <li><a href="#"><img src="/assets/Active-RSS-icon.png" title="RSS AnabtaTec"/></a></li>
        <li><a href="#"><img src="/assets/Active-Facebook-icon.png" title="Facebook AnabtaTec"/></a></li>
        <li><a href="#"><img src="/assets/Active-Google-plus-icon.png" title="Google+ AnabtaTec"/></a></li>
        <li><a href="#"><img src="/assets/Active-Twitter-icon.png" title="Twitter AnabtaTec"/></a></li>
      </ul>
    </div>
    
    <div id="search">
      <div class="button-search"></div>
      <input type="text" value="Search..." onfocus="if (this.value == &#39;Search...&#39;) {this.value = &#39;&#39;;}" onblur="if (this.value == &#39;&#39;) {this.value = &#39;Search...&#39;;}">
    </div>

</div>